[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
mypy = "*"
networkx = "*"
grandalf = "*"
networkx-stubs = "*"

[dev-packages]
black = "*"
ipython = "*"
ruff = "*"
pytest = "*"
coveralls = "*"
pandas = "*"
numpy = "*"
pandas-stubs = "*"
duckdb = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
